.Footer-container{
    position: relative;
}

.Footer-container>hr{
    border: 1px solid var(--lightgray);
    width: 80%;
}

.footer{
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items:center ;
    justify-content: center;
    height: 20rem;
}

.social-links{
    display: flex;
    gap: 4rem;
    cursor: pointer;
}

.social-links>img{
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.logo-f>img{
    width: 5rem;
}


.blur-f-1{
    bottom: 0;
    right: 25%;
    width: 40rem;
    height: 9rem;
    filter: blur(200px);
    background: rgb(255, 89, 0);
}

.blur-f-2{
    bottom: 0;
    left: 25%;
    width: 40rem;
    height: 9rem;
    filter: blur(200px);
    background: rgb(255, 174, 0);
}